body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
.menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: burlywood;
}
h1,
h2,
p {
  text-align: center;
}
.flavor {
  float: left;
  width: 49%;
}
.price {
  float: right;
  width: 49%;
}

.item p {
  display: inline-block;
}
